<form action="/login" method="post" enctype="multipart/form-data">
    <div class="container" style="margin:auto ; width:30%">
        <h3 align="center">Login</h3>
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" name="Email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="Password" class="form-control" id="exampleFormControlInput1"
                placeholder="Password">
        </div>
        <a href = "/signup">Create new account?</a><br><br>
        <button class="btn btn-primary" style="margin:auto;width:100%" type="submit">Login</button>
    </div>
</form>